@page "/tareas/delete"
@rendermode InteractiveAuto

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tarea</h4>
    <hr />
    @if (tarea is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Descripcion</dt>
            <dd class="col-sm-10">@tarea.Descripcion</dd>
        </dl>
        <EditForm method="post" Model="tarea" OnValidSubmit="DeleteTarea" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(tarea is null)">Delete</button> |
            <a href="/tareas">Back to List</a>
        </EditForm>
    }
</div>

@code {
    Tarea? tarea;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        tarea = new Tarea();

        if (tarea is null)
        {
            _navigation.NavigateTo("notfound");
        }
    }

    public async Task DeleteTarea()
    {
        _navigation.NavigateTo("/tareas");
    }
}
